*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

ul,
li,
a{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    padding-left: 30px;
    text-decoration: none;
}

.guardar:hover{
    background-color: rgb(103, 255, 103);   
}

a:hover{
    color: red;
}

table,
tr{
    margin-left: 135px;
    width: 70%;
    height: 50px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

h3{
    margin-top: 40px;
    text-align: center;
}

input{
    border: 1px solid;
    display: inline-block;
    width: 30%;
    margin-left: 200px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

label{
    display: inline-block;
    width: 30%;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form{
    border: 1px solid;
    display: inline-block;
    width: 70%;
    margin-left: 150px;
}


.guardar{
    background-color: rgb(185, 247, 179);
}

.navbar{
    border: 0px solid;
    text-align: left;
    padding-left: 90px;
    background-color: black;
}

.cuerpo{
    border: 1px solid;
    width: 75%;
    height: 850px;
    margin-left: 170px;
}

.detalles{
    border: 1px solid;
    margin-left: 100px;
    width: 80%;
    height: 50%;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.columnaizquierda{
    padding-top: 100px;
    font-size: 20px;
    display: inline-block;
    margin-left: 230px;
}

.columnaderecha{
    margin-left: 100px;
    font-size: 20px;
    display: inline-block;
}

.formulario{
    margin-left: 90px;
    width: 80%;
    height: 80%;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabla{
    border: 1px solid;
    margin-left: 100px;
    width: 80%;
    height: 80%;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boton1,
.boton2{
    border: 1px solid;
    border-radius: 8px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    color: black;
}

.boton1:hover{
    background-color: gray;
    color: black;
}

.boton2:hover{
    background-color: gray;
    color: black;
}




