*{
    padding: 0%;
    margin: 0%;
}

.navbar{
    border: 0px solid;
    text-align: left;
    padding-left: 90px;
    background-color: black;
}

ul,
li,
a{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    padding-left: 30px;
    text-decoration: none;
}

a:hover{
    color: red;
}

.cuerpo{
    border: 1px solid;
    width: 75%;
    height: 850px;
    margin-left: 170px;
}

h3{
    margin-top: 40px;
    text-align: center;
}


.tabla{
    margin-left: 100px;
    width: 80%;
    height: 80%;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boton1,
.boton2{
    border: 1px solid;
    border-radius: 8px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    color: black;
}

.boton1:hover{
    background-color: gray;
    color: black;
}

.boton2:hover{
    background-color: gray;
    color: black;
}


table,
tr{
    margin-left: 135px;
    width: 70%;
    height: 50px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

